<h1><%= @topic.title %></h1>
<<<<<<< HEAD
=======
<p>Find me in app/views/topics/show.html.erb</p>
>>>>>>> 2070e80f4ba332240ffe94cb58341e71fba7cb40
<div class="row">
  <% @topic.bookmarks.each do |bookmark| %>
  <div class="col-md-3 col-xs-6">
    <%= link_to bookmark.url, topic_bookmark_path(@topic, bookmark) %>
    <%= link_to "edit", edit_topic_bookmark_path(@topic, bookmark) %>
  </div>
  <% end %>
  <%= link_to "New Bookmark", new_topic_bookmark_path(@topic) %>
</div>
<%= link_to "Delete Topic", @topic, method: :delete, class: 'btn btn-danger', data: {confirm: 'Sure?'} %>
